<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalDB" connectionString="Data Source=.\SQL2019;Initial Catalog=LeaveDetails;Persist Security Info=True;User ID=sa;Password=P@ssword1234" />
	</connectionStrings>
	<appSettings>
		<add key="SavePath" value="C:\Users\Sandeep.shenoy\OneDrive - Noxum GmbH\Work Details"/>
	</appSettings>
</configuration>
